body
  background:         #3f3f3f
  color:              #fff
  font:               14px/1.5 Open Sans, FreeSans, Helvetica, Arial, sans-serif
  text-align:         center
  margin:             0 0 0 0
  padding:            0 0 0 0

.container
  width:              960px
  margin:             0 auto
  text-align:         left
  position:           relative

  a
    color:            #6fbc62
    font-weight:      bold
    text-decoration:  none

  a:hover
    text-decoration:  underline

  .clear
    clear:            both
    display:          block
    height:           0
    overflow:         hidden

.header
  border-bottom:      4px solid #ccc

  h1
    margin:           0 0 0 0
    padding:          26px 0 0 0
    a
      display:        block
      width:          286px
      height:         0
      overflow:       hidden
      padding:        84px 0 0 0
      background:     #3f3f3f url(/images/faye-logo.gif) 0 0 no-repeat
      border-bottom:  8px solid #3f3f3f

  h2
    font-size:        16px
    font-weight:      normal
    margin:           0 0 0 0
    padding:          0 8px 40px

  .docs, .download, .community
    position:         absolute
    top:              0
    border-left:      1px solid #666
    padding:          40px 0 0 20px
    height:           112px

    a
      color:          #999
      font-weight:    normal
    a:hover
      color:          #fff

    h3
      margin:         0 0 0 0
      padding:        0 0 0 0
      font-weight:    bold
      font-size:      100%

    ul, li
      list-style:     none
      margin:         0 0 0 0
      padding:        0 0 0 0

  .docs
    left:             480px
  .community
    left:             640px
  .download
    left:             800px

.footer
  border-top:         4px solid #ccc
  padding-bottom:     2em
  p
    font-size:        80%
    margin:           1em 0 1em 320px

.main
  background:         #fff
  color:              #3f3f3f
  padding:            2em 0 4em

.front-matter
  .intro
    font-size:        140%
    h3
      margin-top:     0
    p
      border-top:     none
      margin-top:     0.5em
      padding-top:    0

    a img
      margin-bottom:  18px
      margin-right:   32px
  h3
    font-weight:      normal
    font-style:       italic
    font-size:        150%
    float:            left
    margin:           1em 0 0 80px
    position:         relative

    .number
      color:          #6fbc62
      font-weight:    bold

  p, pre
    border-top:       1px solid #eee
    margin:           1.5em 0
    padding:          1.5em 0 0 320px

  pre
    font-family:      Inconsolata, Monaco, Lucida Console, Courier New, monospace

.content
  h3
    float:            left
    margin:           -0.5em 0 0 0
    font-size:        200%
    font-weight:      bold

  .sections
    clear:            left
    float:            left
    margin:           32px 0
    padding:          0 0 0 2em

    ul, li
      margin:         0
      padding:        0

  h4
    font-size:        120%
    font-weight:      bold

  h4, p, pre, ul, .image
    margin:           1.5em 0 1.5em 320px

  .image img
    display:          block
    margin:           1em auto

  pre
    border-left:      1em solid #f0f0f0
    font-family:      Inconsolata, Monaco, Lucida Console, Courier New, monospace
    padding-left:     2em

  code
    background:       #eee
