.content
  = partial 'ruby_navigation'

  :textile
    h4. WebSockets for Ruby

    Since version 0.5, Faye has supported WebSockets as a network transport for
    sending messages to the browser. The code that handles this is decoupled
    from the rest of the library and can be used to make your own WebSocket
    applications.

    These classes are available as a stand-alone library,
    "faye-websocket":https://github.com/faye/faye-websocket-ruby
