:textile
  h3. Browser client

  <div class="sections">

  * "Setting up":/browser.html
  * "Subscribing to channels":/browser/subscribing.html
  * "Sending messages":/browser/publishing.html
  * "Controlling dispatch":/browser/dispatch.html
  * "Network errors":/browser/transport.html
  * "Extensions":/browser/extensions.html

  </div>
