:textile
  h3. Node.js server

  <div class="sections">

  * "Setting up":/node.html
  * "Extensions":/node/extensions.html
  * "Monitoring":/node/monitoring.html
  * "Server-side clients":/node/clients.html
  * "Engines":/node/engines.html
  * "WebSockets":/node/websockets.html

  </div>
