:textile
  h3. Node.js server
    
  <ul class="sections">
    <li><a href="/node.html">Setting up</a>
    <li><a href="/node/engines.html">Engines</a>
    <li><a href="/node/monitoring.html">Monitoring</a>
    <li><a href="/node/extensions.html">Extensions</a>
    <li><a href="/node/clients.html">Server-side clients</a>
  </ul>
  