:textile
  h3. Ruby server

  <div class="sections">

  * "Setting up":/ruby.html
  * "Extensions":/ruby/extensions.html
  * "Monitoring":/ruby/monitoring.html
  * "Server-side clients":/ruby/clients.html
  * "Engines":/ruby/engines.html
  * "WebSockets":/ruby/websockets.html

  </div>
