:textile
  h3. Ruby server
    
  <ul class="sections">
    <li><a href="/ruby.html">Setting up</a>
    <li><a href="/ruby/engines.html">Engines</a>
    <li><a href="/ruby/monitoring.html">Monitoring</a>
    <li><a href="/ruby/extensions.html">Extensions</a>
    <li><a href="/ruby/clients.html">Server-side clients</a>
  </ul>
  