:textile
  h3. Security advice

  <div class="sections">

  * "Overview":/security.html
  * "Restricting subscriptions":/security/subscription.html
  * "Restricting publication":/security/publication.html
  * "Publishing JavaScript":/security/javascript.html
  * "Push-only servers":/security/push.html
  * "Authentication":/security/authentication.html
  * "Cookies, Origin, and Referer":/security/headers.html
  * "CSRF protection":/security/csrf.html
  * "Other techniques":/security/summary.html

  </div>
