.content
  :textile
    h3. Download Faye
    
    The latest version is 1.1.0, released December 22 2014. It is open-source
    software, released under the MIT license. You can follow development on
    Faye's "GitHub page":https://github.com/faye/faye.

    h4. Download for Node.js and web browsers

    The Node.js version is available through "npm":http://npmjs.org/. This
    package contains a copy of the browser client, which is served up by the
    Faye server when running.

    <pre>npm install faye</pre>

    Alternatively you can grab the latest release package:
    
    "Download JavaScript version 1.1.0":/assets/faye.1-1-0.zip

    The above package contains these files:

    * @node/faye-node.js@
    * @browser/faye-browser.js@
    * @browser/faye-browser-min.js@
    * @browser/faye-browser-min.js.map@

    To use Faye for Node.js, just put these two files together in a directory,
    and load the server-side component using @require('./path/to/faye-node')@.
    The @faye-browser-min.js@ file contains the web browser client, which your
    Faye server will serve for you automatically.

    The browser client can be used standalone with other Bayeux servers like
    "CometD":http://cometd.org - just include @faye-browser-min.js@ in your web
    page to use it.

    h4. Download for Ruby

    For Ruby platforms, Faye is easily installable through RubyGems.

    <pre>gem install faye</pre>

    This package also includes the browser client which is served up by the Faye
    server when running.
