.content
  :textile
    h3. Download Faye
    
    The latest version is 0.3.3, released June 7 2010. It is written
    by "James Coglan":http://jcoglan.com and is open-source software,
    released under the MIT license.
    
    h4. Download for Node.js and web browsers
    
    <a href="/assets/faye.0-3-3.zip" onclick="trackDownload('0.3.3')">
      Download JavaScript version 0.3.3
    </a>
    
    The above package contains two files:
    
    * @faye-node.js@
    * @faye-client-min.js@
    
    To use Faye for Node.js, just put these two files together in
    a directory, and load the server-side component using
    @require('./path/to/faye-node')@. The @faye-client-min.js@ file
    contains the web browser client, which your Faye server will serve for
    you automatically.
    
    The browser client can be used standalone with other Bayeux
    servers; just include @faye-client-min.js@ in your web page to
    use it.
    
    h4. Download for Ruby
    
    For Ruby platforms, Faye is easily installable through RubyGems. It
    requires @eventmachine@, @em-http-request@, @rack@, @thin@ and
    @json@, which should all be automatically installed for you.
    
    <pre class="prettyprint">sudo gem install faye</pre>
