.content
  :textile
    h3. Download Faye
    
    The latest version is 1.2.3, released October 11 2016. It is open-source
    software, released under the MIT license. You can follow development on
    Faye's "GitHub page":https://github.com/faye/faye.

    h4. Download for Node.js and web browsers

    The Node.js version is available through "npm":https://www.npmjs.com/. This
    package contains a copy of the browser client, which is served up by the
    Faye server when running.

    <pre>npm install faye</pre>

    If you're using "Browserify":http://browserify.org/,
    "Webpack":https://webpack.github.io/ or a similar build tool, then
    requiring @faye@ will get you the client-side package, for example:

    <pre>var faye = require('faye');

    var client = new faye.Client('http://localhost:8000/faye');</pre>

    If you're not using such a toolchain, you can get the client bundle from
    the @client@ directory within the npm install.

    h4. Download for Ruby

    For Ruby platforms, Faye is installable through RubyGems.

    <pre>gem install faye</pre>

    This package also includes the browser client which is served up by the Faye
    server when running.
