.front-matter
  .intro
    :textile
      h3. What is it?

      Faye is a publish-subscribe messaging system based on the
      "Bayeux":http://svn.cometd.org/trunk/bayeux/bayeux.html protocol. It
      provides message servers for "Node.js":http://nodejs.org and
      "Ruby":http://www.ruby-lang.org, and clients for use on the server and in
      all major web browsers.

      h3. Who uses it?

      "!/images/aha.png!":http://www.aha.io/
      "!/images/buster.png!":http://busterjs.org/
      "!/images/chaxpert.png!":https://community.chaxpert.net/
      "!/images/cloudblocks.png!":http://www.cloud66.com/
      "!/images/gitter.png!":https://gitter.im/
      "!/images/groupme.png!":http://groupme.com/
      "!/images/ineda.png!":http://www.i-neda.com/
      "!/images/medeo.png!":https://medeo.ca/
      "!/images/myspace.png!":http://new.myspace.com/
      "!/images/shopify.png!":http://www.shopify.com/
      "!/images/nokia_mix_party.png!":http://mixparty.nokia.com/
      "!/images/pathient.png!":http://www.pathient.com/
      "!/images/podio.png!":https://podio.com/
      "!/images/xydo.png!":http://www.xydo.com/

  :textile
    h3. %(number)1.% Start a server

    <pre>var http = require('http'),
        faye = require('faye');

    var server = http.createServer(),
        bayeux = new faye.NodeAdapter({mount: '/'});

    bayeux.attach(server);
    server.listen(8000);</pre>

    h3. %(number)2.% Create a client

    <pre>var client = new Faye.Client('http://localhost:8000/');

    client.subscribe('/messages', function(message) {
      alert('Got a message: ' + message.text);
    });
    </pre>

    h3. %(number)3.% Send messages

    <pre>client.publish('/messages', {
      text: 'Hello world'
    });
    </pre>
