!!!
%html
  %head
    %meta{:'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Faye: Simple pub/sub messaging for the web
    = stylesheets
    = javascripts 'prettify'
  %body{:onload => 'prettyPrint()'}
    .header
      .container
        %h1
          =link "Faye", "/"
        %h2 Simple pub/sub messaging for the web
        .docs
          %h3 Documentation
          %ul
            %li
              =link "Node.js server", "/node.html"
            %li
              =link "Ruby server", "/ruby.html"
            %li
              =link "Browser client", "/browser.html"
        .community
          %h3 Developers
          %ul
            %li
              =link "Architecture"
            %li
              =link "GitHub", "http://github.com/faye/faye"
            %li
              =link "Mailing list", "http://groups.google.com/group/faye-users"
        .download
          %h3 Download
          %ul
            %li
              =link "Packages for Node.js, Ruby and browsers", "/download.html"
    .main
      .container
        = yield
    .footer
      .container
        :textile
          &copy; 2009&ndash;2011 "James Coglan":http://jcoglan.com.
          Released under the MIT license.
    %script{:type => 'text/javascript'}
      :plain
        isLocal = !!( /localhost|192\.168/i.test(window.location.hostname) );
        
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-873493-8']);
        if (!isLocal) _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
        trackDownload = function(version) {
          if (!isLocal) _gaq.push(['_trackPageview', '/download/' + version + '/']);
          return true;
        };

