!!! 5
%html
  %head
    %meta{:'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Faye: Simple pub/sub messaging for the web
    = stylesheets
    %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,700italic,400,300,700'}
  %body{:onload => 'prettyPrint()'}

    .header
      .container
        %h1
          =link "Faye", "/"
        %h2 Simple pub/sub messaging for the web
        .docs
          %h3 Documentation
          %ul
            %li
              =link "Node.js server", "/node.html"
            %li
              =link "Ruby server", "/ruby.html"
            %li
              =link "Browser client", "/browser.html"
            %li
              =link "Security advice", "/security.html"
        .community
          %h3 Developers
          %ul
            %li
              =link "Architecture"
            %li
              =link "GitHub", "https://github.com/faye/faye"
            %li
              =link "Mailing list", "http://groups.google.com/group/faye-users"
        .download
          %h3 Download
          %ul
            %li
              =link "Packages for Node.js, Ruby and browsers", "/download.html"

    .main
      .container
        = yield
        .clear

    .footer
      .container
        :textile
          &copy; 2009&ndash;2014 "James Coglan":http://jcoglan.com.
          Released under the MIT license.

    = javascripts 'prettify', 'analytics'
    :plain
      <script type="text/javascript">
        (function() {
          var pre = document.getElementsByTagName('pre'), n = pre.length
          while (n--) {
            if (!pre[n].className) pre[n].className = 'prettyprint'
          }
          prettyPrint()
        })()
      </script>
